/*
<div id="container">
        <div id="header">Cabecera</div>
        <div id="nav">Barra de navegación</div>
        <div id="body">
            <div id="info-main">Información Principal</div>
            <div id="nav-aside">Barra Lateral</div>
        </div>
        <div id="footer">Institucional</div>
    </div>
*/

* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

body {
  background-color: rgb(255, 255, 216);
}

#container {
  border: 1px solid green;
  width: 980px;
  height: 200px;
}

#header {
    background-color: peachpuff;
    border: 1px solid red;
}
#nav {
    background-color: rgb(220, 220, 120);
    border: 1px solid red;
}
#body {
    background-color: rgb(118, 217, 118);
    border: 1px solid red;
}
#info-main {
    background-color: rgb(78, 191, 247)5)87, 87, 148);
    border: 1px solid red;
}
#nav-aside {
    border: 1px solid red;
}
#footer {
    border: 1px solid red;
}
