:root {
    --main-color: #40110D;
    --highlight-color: #F2DABD;
    --highlight-translucent: rgba(242, 218, 189, 0.5);
    --width--page: 100%;
    --height--header: 10vh;
    --height--footer: 10vh;
    --height--page: 80vh;
}

/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Fondoo de la página principal */
    background-image: url('../estilos/imgs/contenido/backgroundMain.jpg');
    background-size: cover;
    background-position: center;
}

/* Estilos para elementos especificos */
.bold {
    font-weight: bold;
}

/* Diseños del header */
header {
    width: var(--width--page);
    height: var(--height--header);
}

/* Logo */
#logo {
    background-image: url('../estilos/imgs/LogoPanaderíaSinTexto.svg');
    background-position: center;
    background-size: cover;
    float: left;
    width: 90px;
    height: 10vh;
    margin-left: 40px;
}

/* Navegación */
header nav {
    display: inline-block;
    text-align: right;
    width: 90%;
    height: var(--height--header);
    line-height: 10vh;

}

/* Lista de navegación */
header nav ul {
    display: inline-block;
    list-style: none;
}

/* Enlaces del menú */
header nav ul li {
    display: inline-block;
    padding-right: 40px;
}

header nav ul li a {
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: var(--highlight-color);
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li a:visited,
header nav ul li a:active,
header nav ul li a:focus {
    border-bottom: 1px solid var(--main-color);
    font-weight: bold;
}

/* Contenedor de búsqueda */
#busqueda {
    float: right;
    line-height: var(--height--header);
}

/* Input de búsqueda */
#buscar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
}

/* Botón de búsqueda */
#busqueda button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

#busqueda button:hover {
    background-color: var(--highlight-color);
    color: var(--main-color);
}

/* Menú de navegación lateral */
#container>nav {
    float: left;
    width: 12.5%;
    height: var(--height--page);
}

#container>nav ul {
    list-style: none;
    margin: 0 10px;
    width: 90%;
}

#container>nav ul li {
    background-color: var(--highlight-translucent);
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

#container>nav ul li:hover {
    background-color: var(--highlight-color);
}

#container>nav ul li a {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#container>nav ul li img {
    width: 150px;
    height: 150px;
    margin: 10px 0px;
}

#container>nav ul li,
#container>nav ul li img {
    border-radius: 15px;
}

/* Diseños del contenido principal */
main {
    float: left;
    width: 70%;
    height: var(--height--page);
}

main article {
    color: var(--main-color);
    margin: 30px;
    width: 30%;
}

main p {
    margin-top: 30px;
    font-size: 23px;
}

main article p:last-child {
    font-size: 30px;
}

/* Diseños del contenido lateral */
aside {
    float: right;
    overflow-y: scroll;
    width: 13%;
    height: 80vh;
}

aside section {
    text-align: center;
}

/* Redes sociales */
#iconFacebook,
#iconInstagram,
#iconTiktok,
#iconWhatsapp,
#iconYoutube {
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}

#iconFacebook {
    background-image: url('../estilos/imgs/iconos/facebook.png');
}

#iconInstagram {
    background-image: url('../estilos/imgs/iconos/instagram.png');
}

#iconTiktok {
    background-image: url('../estilos/imgs/iconos/tiktok.png');
}

#iconWhatsapp {
    background-image: url('../estilos/imgs/iconos/whatsapp.png');
}

#iconYoutube {
    background-image: url('../estilos/imgs/iconos/youtube.png');
}

aside ul li {
    list-style: none;
}

aside ul li a {
    color: var(--main-color);
    text-decoration: none;
}

aside ul li,
aside article,
h2 {
    background-color: var(--highlight-translucent);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

aside h2,
aside ul li:hover,
aside article:hover {
    background-color: var(--highlight-color);
}


aside section article p,
aside section ul li a {
    background-color: var(--main-color);
    color: #fff;
    margin: 10px 0px;
    padding: 7px;
    border-radius: 10px;
}

aside article img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

aside section li:last-child {
    margin-bottom: 20px;
}

/* Prueba degradado */
aside {
    position: relative;
    box-shadow: inset 0px 20px 15px -15px rgba(242, 218, 189, 1), inset 0px -20px 15px -15px rgba(242, 218, 189, 1);
}

/* Diseños del pie de página */
footer {
    background-color: var(--highlight-color);
    clear: both;
    width: var(--width--page);
    height: var(--height--footer);
    line-height: var(--height--footer);
}

footer ul {
    float: right;
}

footer ul li {
    display: inline-block;
}

footer p {
    color: var(--main-color);
    font-size: 16px;
    float: left;
    margin-left: 20px;
}

footer ul li a {
    color: var(--main-color);
    text-decoration: none;
    margin-right: 30px;
}