/* Ejercicio 04 */
/* cunado la animación llegue a un 100% hará un giro del 100% */
@keyframes rotateSquared {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

#cuadrado{
    width: 200px;
    height: 100px;
    background-color: red;
    animation: rotateSquared 3s ease-in-out 1;
    /* asignamos la animación con un tiempo de 3s y que se repita 1 veces */
}