/* Ejercicio 01 */

/* Definimos el conjunto de fotogramas 
Queremos que el elemento se mueva desde todo a la derecha hacia la izquierda*/
@keyframes rigthToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Asignamos la animación al elemento  */
h1 {
    animation: rigthToLeft 1s;
}

h2 {
    animation: rigthToLeft 2s;
}

h3 {
    animation: rigthToLeft 3s;
}

h4 {
    animation: rigthToLeft 4s ;
}
