/* Ejercicio 04 */
@keyframes rotateSquared {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

#cuadrado{
    width: 200px;
    height: 100px;
    background-color: red;
    animation: rotateSquared 3s ease-in-out 1;
}