/* Reset global */
* {
    margin: 0;
    /* Elimina el margen por defecto */
    padding: 0;
    /* Elimina el padding por defecto */
    box-sizing: border-box;
    /* Facilita el cálculo de dimensiones de elementos */
}

html {
    background-color: #ffffff;
}

/* Body */
body {
    text-align: center;
    /* Centra el texto en el body */
    background: linear-gradient(to bottom, rgb(227, 76, 38) 0%, rgba(240, 101, 41, 0) 90%);
    /* Color degradado de fondo  */

}

/* Page container */
#page {
    width: 960px;
    /* Ancho fijo para el contenedor de la página */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    text-align: left;
    /* Alineación de texto a la izquierda para el contenido */
    box-shadow: 10px 10px 10px gray;
}

/* Header */
#page > header {
    font-family: Courier, sans-serif;
    /* Tipografía utilizada en el encabezado */
    color: white;
    /* Color del texto del encabezado */
    font-size: 1.1em;
    border-bottom: 6px solid black;
    /* Línea inferior para separar el encabezado */

    padding: 20px 0px;
    /* Espaciado interno del encabezado */
    background-position: 25px center;
    /* Posiciona el logo a la izquierda */
    background: linear-gradient(to bottom, #0170B9, #27AADE);
    /* color degradado de fondo de la navegación */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

#page > header > img{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}


/* Navigation */
nav {
    font-family: Courier, sans-serif;
    /* Tipografía utilizada en la navegación */
    font-size: 1.4em;
    /* Tamaño de fuente de la navegación */
    color: white;
    /* Color del texto de navegación */
    text-align: center;
    /* Centra el texto de la navegación */
    background: linear-gradient(to bottom, rgb(213, 186, 50), rgb(255, 218, 62));
    /* color degradado de fondo de la navegación */
}

nav li {
    display: inline-block;
    /* Muestra los elementos de la lista en línea */
    cursor: default;
    /* Cambia el cursor para mostrar que no es clickeable */
    text-align: center;
    /* Centra el texto dentro de cada elemento de navegación */
}

nav > li > img{
    width: 50px;
    height: 50px;
    float: left;
}

nav li a {
    width: 100%;
    float: left;
    text-decoration: none;
    /* Elimina subrayado de los enlaces */
    color: white;
}

nav li a:hover {
    color: orange;
    /* Cambia el color del enlace al pasar el mouse */
}

/* Content */
main {
    font-family: Verdana, sans-serif;
    /* Tipografía utilizada en el contenido */
    font-size: 0.8em;
    /* background-color: red; */
    background-color: #ffffff;
    height: 502px;
    /* Altura fija para el contenido */
}

/* Articles */
article {
    align-items: center;
    margin: 10px 30px;
    width: 250px;
    height: 520px;
    text-align: center; /* Centra el texto dentro de los artículos */
    line-height: 1.8em; /* Altura de línea para mejorar la legibilidad */
    float: left; /* Permite que los artículos floten a la izquierda */

    border-width: 55px 30px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde (necesario para border-image) */

    border-image-source: url('../recursos/movil.png'); /* URL de la imagen y valores de recorte */
    border-image-slice: 70; /* Controla cómo se recorta la imagen */
}


article  header  img {
    width: 100%;
    /* Imágenes ocupan el 100% del ancho del artículo */
    height: 150px;
    /* Mantiene la proporción de la imagen */
}

article  h2 {
    /* Espaciado interno del título del artículo */
    font-size: 1.2em;
    /* Tamaño de fuente del título */
    text-shadow: 2px 2px 2px gray;
}

/* Footer */
footer {
    clear: both;
    /* Limpia el flotante de los artículos */
    font-size: 0.7em;
    color: white;
    /* Color del texto del pie de página */
    text-align: center;
    /* Centra el texto del pie de página */
    background: linear-gradient(to top, #0170B9, #27AADE);
    /* color degradado de fondo de la navegación */
    border-top: 6px solid black;
    /* Línea superior para separar el pie de página */
    padding: 15px 0;
    /* Espaciado interno del pie de página */

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer a {
    color: white;
    /* Color de los enlaces en el pie de página */
}